.navbar {
    margin: 0 auto;
    height: 5rem;
    width: 100%;
    max-width: 85rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}
.navbar_logo {
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}
.desktop_menu .desktop_menu_item {
    margin: 1rem;
    cursor: pointer;
}
.desktop_menu .desktop_menu_item:hover{
    font-weight: 500;
    padding-bottom: 0.5rem;
    border-bottom: 0.2rem solid yellowgreen;
}
.active {

}
.desktop_menu_btn {
    background-color: #ffde59;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    color: #000000;
    font-weight: 500;
}