
.navbar {
    padding: 0 5rem;
    height: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: floralwhite;

}
.navbar_logo {
    object-fit: contain;
    max-width: 4rem;
}
.desktop_menu .desktop_menu_item {
    margin: 1rem;
    cursor: pointer;
}
.desktop_menu .desktop_menu_item:hover{
    font-weight: 500;
    padding-bottom: 0.5rem;
    border-bottom: 0.2rem solid yellowgreen;
}
.active {
    font-weight: 500;
    border-bottom: 0.2rem solid yellowgreen;
    padding-bottom: 0.5rem;
}
.desktop_menu_btn {
    background-color: #ffde59;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    color: #000000;
    font-weight: 500;
    cursor: pointer;
}
.mob_menu_icon {
    display: none;
    object-fit: cover;
    height: 2.4rem;
    margin: 0 1rem;
}
.mob_menu{
    background-color: floralwhite;
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 0.5rem;
    min-width: 15rem;
    border-radius: 1rem;
}
.mob_menu_item{
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    border-bottom: none;
}
/* Mobile View */

@media screen and (max-width: 800px) {
    .mob_menu_icon {
        display: flex;
    }
    .desktop_menu, .desktop_menu_btn{
        display: none;
    }
}