.navbar {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 6rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 3;

    .navbarLogo {
        object-fit: cover;
        height: 3rem;
        width: 4rem;
    }

    .navbarItems > ul {
        gap: 2rem;
        list-style: none;
        display: flex;
        align-items: flex-start;
        text-decoration: none;
    }
    .navbarItems ul li a{
        text-decoration: none;
        cursor: pointer;
        font-weight: 400;
        font-size: 1.15rem;
    }
}
.navbarItems .navbarActive {
    text-shadow: 0 1px 1px #000000;
}
