.skills{
    margin: 0 auto;
    overflow: hidden;
    width: 100vw;
    max-width: 75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.scroller{
    max-width: 400px;
    outline: 3px solid lime;

    .scoller_inner{
        padding-block: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
}