.hero_section {
    width: 100vw;
    height: 100vh;
    max-width: 90rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.hero_section_left {
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .hello {
        font-size: 2rem;
        font-weight: 100;
    }
    .intro_title{
        margin: 2rem 0 1.5rem 0
    }
    .intro_name {
        color: yellowgreen;
    }
    .intro_body{
        font-size: medium;
        font-weight: 300;
    }
    .btn {
        background-color: #ffde59;
        margin: 2.5rem 0;
        padding: 0.8rem 1.2rem;
        border-radius: 2rem;
        border: none;
        cursor: pointer;

        .btn_img {
            vertical-align: middle;
        }
        .btn_text{
            padding-left: 0.7rem;
        }
    }

}
.hero_section_right {
    display: flex;

    .profile_photo {
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 880px) {
    .hero_section {
        display: flex;
        flex-direction: column;
        height: 64rem;
    }

    .hero_section_right {
        display: none;
    }
}

