.contact_page{
    background-image: url("../../assets/contact_background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.contact_section {
    margin: 0 auto;
    overflow: hidden;
    width: 100vw;
    height: 70vh;
    max-width: 75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.contact_heading{
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 700;
}
.contact_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.link_img {
    width: 100%;
    max-width: 3rem;
}