.contact_page {
    margin: 0 auto;
    overflow: hidden;
    width: 100vw;
    height: 70vh;
    max-width: 75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}